.github/
.idea/
assets/
coverage/
docs/
example/
src/
tests/

.eslintignore
.eslintrc.js
.gitignore
.huskyrc.json
.travis.yml
CODE_OF_CONDUCT.md
CONTRIBUTING.md
global.d.ts
jest.config.js
rollup.config.js
tsconfig.*
yarn.lock

*.tgz
